{:paths
 ["src/main"]

 :deps
 {org.clojure/clojurescript {:mvn/version "1.10.866"}
  org.clojure/java.data {:mvn/version "1.0.86"}
  ring/ring-core {:mvn/version "1.8.1"}
  ring/ring-jetty-adapter {:mvn/version "1.8.1"}
  http-kit/http-kit {:mvn/version "2.4.0"}
  com.github.jnr/jnr-ffi {:mvn/version "2.2.3"}
  insn/insn {:mvn/version "0.5.2"}
  ;; io.kubernetes/client-java {:mvn/version "10.0.0"}
  com.jcraft/jsch {:mvn/version "0.1.55"}
  com.jcraft/jsch.agentproxy.core {:mvn/version "0.0.9"}
  com.jcraft/jsch.agentproxy.jsch {:mvn/version "0.0.9"}
  com.jcraft/jsch.agentproxy.sshagent {:mvn/version "0.0.9"}
  com.jcraft/jsch.agentproxy.connector-factory {:mvn/version "0.0.9"}
  com.jcraft/jsch.agentproxy.usocket-jna {:mvn/version "0.0.9"}
  quil/quil {:mvn/version "3.1.0"}
  org.python/jython-standalone {:mvn/version "2.7.2"}
  clj-commons/clj-yaml {:mvn/version "0.7.2"}
  clj-http/clj-http {:mvn/version "3.10.3"}
  org.bouncycastle/bcprov-jdk15on {:mvn/version "1.66"}
  org.bouncycastle/bcpkix-jdk15on {:mvn/version "1.66"}
  martian/martian {:mvn/version "0.1.14"}
  martian-httpkit/martian-httpkit {:mvn/version "0.1.14"}
  com.github.jhg023/Pbbl {:mvn/version "1.0.2"}
  midje/midje {:mvn/version "1.9.10"}
  com.clojure-goes-fast/clj-java-decompiler {:mvn/version "0.3.0"}
  instaparse/instaparse {:mvn/version "1.4.10"}
  cljfx/cljfx {:mvn/version "1.7.14"}}

 :aliases
 {:cljs
  {:extra-deps
   {org.clojure/clojurescript {:mvn/version "1.10.844"}}}

  :cljs.dev
  {:main-opts ["--main" "cljs.main"
               "--compile-opts" "cljs-opts.edn"
               "--watch" "src/main"
               "--compile" "rb.explores.clojurescript"]}

  :cljs.release
  {:main-opts ["--main" "cljs.main"
               "--compile-opts" "cljs-opts.edn"
               "--optimizations" "advanced"
               "--compile" "rb.explores.clojurescript"]}}}
