{:source-paths ["src"]

 :builds
 {:rb.explores.dev.cljs
  {:target :browser
   :output-dir ".dev/cljs/rb/explores/dev/cljs"
   :asset-path "/rb/explores/dev/cljs"
   :modules
   {:main
    {:init-fn rb.explores.dev.cljs/init}}}

  :rb.explores.threejs.earth
  {:target :browser
   :output-dir ".dev/cljs/rb/explores/threejs/earth"
   :asset-path "/rb/explores/threejs/earth"
   :modules
   {:main
    {:init-fn rb.explores.threejs.earth/init}}}

  :omkamra.dsp.testbed
  {:target :browser
   :output-dir ".dev/cljs/omkamra/dsp/testbed"
   :asset-path "/omkamra/dsp/testbed"
   :js-options
   {:resolve
    {"fs" {:target :file
            :file "src/omkamra/dsp/wabt-fs-stub.js"}
     "process" {:target :file
                 :file "src/omkamra/dsp/wabt-fs-stub.js"}}}
   :modules
   {:main
    {:init-fn omkamra.dsp.testbed/init}}}}}
