{:hooks {:analyze-call {omkamra.cgen.core/defn hooks.cgen/defn
                         omkamra.cgen.core/fn hooks.cgen/anonymous-fn
                         omkamra.dsp/defn hooks.dsp/defn
                         squint.defclass/defclass hooks.squint/defclass}}}
